In [1]:
import importlib

import common

importlib.reload(common)

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, precision_score, recall_score, make_scorer



from common import create_engine
from common import display_all
from common import figsize
from common import save_df
from common import save_model, read_model, create_features


from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters() # converters e.g. for datetime in plots

In [3]:
engine = create_engine('db-conf.json', 'local')
pd.sql = lambda sql: pd.read_sql(sqlalchemy.text(sql), con=engine)

In [4]:
# get data from one source (NN)

fetch_data_query = '''
WITH fb_popularity AS (SELECT sbq.url, sbq.sync_date, sbq.reaction_count, sbq.comment_count, sbq.share_count
                       FROM (
                                SELECT afe.*, row_number() OVER (PARTITION BY url ORDER BY sync_date) as rn
                                FROM article_fb_engagement afe) sbq
                       WHERE sbq.rn = 1
)
SELECT a.id,
       a.url,
       title,
       perex,
       body,
       published_at,
       extracted_at,
       a.source_id,
       category,
       other_info,
       aut.name                                       as author_name,
       s.id                                           as source_id,
       s.name                                         as source_name,
       s.url                                          as source_url,
       stype                                          as source_type,
       is_reliable::integer                           as source_is_reliable,
       sync_date                                      as fb_sync_date,
       reaction_count                                 as fb_reaction_count,
       comment_count                                  as fb_comment_count,
       share_count                                    as fb_share_count,
       (reaction_count + comment_count + share_count) as fb_popularity
FROM article a
         JOIN source s on a.source_id = s.id
         JOIN (SELECT * FROM fb_popularity) p ON a.url = p.url
         JOIN author aut on a.author_id = aut.id
WHERE s.id = 145;
'''

df = pd.sql(fetch_data_query)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20328 entries, 0 to 20327
Data columns (total 21 columns):
id                    20328 non-null int64
url                   20328 non-null object
title                 20328 non-null object
perex                 0 non-null object
body                  20328 non-null object
published_at          20328 non-null datetime64[ns]
extracted_at          20328 non-null datetime64[ns]
source_id             20328 non-null int64
category              0 non-null object
other_info            20328 non-null object
author_name           20328 non-null object
source_id             20328 non-null int64
source_name           20328 non-null object
source_url            20328 non-null object
source_type           20328 non-null object
source_is_reliable    20328 non-null int64
fb_sync_date          20328 non-null datetime64[ns]
fb_reaction_count     20328 non-null int64
fb_comment_count      20328 non-null int64
fb_share_count        20328 non-null int64
fb_popularity         20328 non-null int64
dtypes: datetime64[ns](3), int64(8), object(10)
memory usage: 3.3+ MB

In [6]:
# our blog has only title and body + label

df = df[['id', 'title', 'body', 'fb_popularity']]
df = df.set_index('id')

get popularity predictions (labels)

In [7]:
df

,title,body,fb_popularity
id,,,
322528,Flashback: Local pharmacies donate free vitami...,\n\n\n(NaturalNews) Recognizing the dismal he...,0
322519,Are you chucking used batteries in the trash? ...,\n\n\n(NaturalNews) The average person genera...,0
322499,California state police and prison guard allie...,\n\n\n(NaturalNews) As California prepares to...,0
322523,While insisting marijuana has no medicinal val...,\n\n\n(NaturalNews) Hypocrisy on the part of ...,0
322495,Study: Brain Stem Cells can be activated and r...,\n\n\n (Natural News)\n The many health benef...,2
...,...,...,...
427883,The Mediterranean diet can stop overeating and...,\n\n\n (Natural News)\n The Mediterranean die...,37
427861,The black ridge oak from Asia found to inhibit...,\n\n\n (Natural News)\n Black ridge oak (Quer...,28
427858,The Greta Thunberg phenomenon is nothing but a...,\n\n\n (Natural News)\n Many Americans are sc...,115
427874,Study reveals surprising link between your ski...,\n\n\n (Natural News)\n The human body is mor...,74
427845,Have you heard of the MIND diet? Here’s how ea...,\n\n\n (Natural News)\n One of the many natur...,27

In [8]:
df.fb_popularity.describe()

count    2.032800e+04
mean     1.246525e+03
std      4.193087e+04
min      0.000000e+00
25%      1.800000e+01
50%      8.900000e+01
75%      2.530000e+02
max      5.197586e+06
Name: fb_popularity, dtype: float64

In [9]:
df['label'] = 1

In [10]:
df.fb_popularity.quantile([.65, .85, .95])

0.65     162.0
0.85     465.0
0.95    1667.6
Name: fb_popularity, dtype: float64

In [11]:
df.loc[df.fb_popularity > 162, 'label'] = 2
df.loc[df.fb_popularity > 465, 'label'] = 3
df.loc[df.fb_popularity > 1667, 'label'] = 4

In [12]:
df.label.value_counts()

1    13223
2     4062
3     2026
4     1017
Name: label, dtype: int64

In [13]:
df = df.drop(columns=['fb_popularity'])

In [14]:
df

,title,body,label
id,,,
322528,Flashback: Local pharmacies donate free vitami...,\n\n\n(NaturalNews) Recognizing the dismal he...,1
322519,Are you chucking used batteries in the trash? ...,\n\n\n(NaturalNews) The average person genera...,1
322499,California state police and prison guard allie...,\n\n\n(NaturalNews) As California prepares to...,1
322523,While insisting marijuana has no medicinal val...,\n\n\n(NaturalNews) Hypocrisy on the part of ...,1
322495,Study: Brain Stem Cells can be activated and r...,\n\n\n (Natural News)\n The many health benef...,1
...,...,...,...
427883,The Mediterranean diet can stop overeating and...,\n\n\n (Natural News)\n The Mediterranean die...,1
427861,The black ridge oak from Asia found to inhibit...,\n\n\n (Natural News)\n Black ridge oak (Quer...,1
427858,The Greta Thunberg phenomenon is nothing but a...,\n\n\n (Natural News)\n Many Americans are sc...,1
427874,Study reveals surprising link between your ski...,\n\n\n (Natural News)\n The human body is mor...,1
427845,Have you heard of the MIND diet? Here’s how ea...,\n\n\n (Natural News)\n One of the many natur...,1

In [15]:
df_with_features = create_features(df)

In [16]:
df_with_features['label'] = df['label'].array

In [17]:
from sklearn.model_selection import train_test_split

target_df = df_with_features

y = target_df['label']
X = target_df.drop(columns='label')

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [18]:
X_train

,content_length,number_of_words_in_title,number_of_words_in_content,title_sentiment_polarity,title_sentiment_subjectivity,content_sentiment_polarity,content_sentiment_subjectivity
1018,4059,14,651,-0.195833,0.433333,0.454447,0.454447
13160,4415,13,722,0.300000,0.562500,0.548730,0.548730
9873,3412,20,528,0.411111,0.633333,0.402730,0.402730
2822,4075,16,691,-0.500000,0.875000,0.499228,0.499228
10688,4142,17,721,0.000000,0.125000,0.422559,0.422559
...,...,...,...,...,...,...,...
7763,2865,11,478,0.000000,1.000000,0.510815,0.510815
15377,4281,16,737,-0.500000,1.000000,0.368299,0.368299
17730,4634,16,759,-0.150000,0.250000,0.504259,0.504259
15725,4175,17,668,0.059524,0.351190,0.478026,0.478026
19966,4366,19,746,0.050000,0.450000,0.301787,0.301787

In [19]:
rdf = RandomForestClassifier()

In [20]:
rdf.fit(X_train, y_train)

C:\Users\j\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
y_pred = rdf.predict(X_test)

In [22]:
print(confusion_matrix(y_test, y_pred))

[[2986  244   68   16]
 [ 912   71   17    5]
 [ 457   34   13    9]
 [ 210   22    6   12]]

In [23]:
y_test.value_counts()

1    3314
2    1005
3     513
4     250
Name: label, dtype: int64

In [24]:
accuracy_score(y_test, y_pred)

0.6064541519086973

In [25]:
f1_score(y_test, y_pred, average='macro')

0.24637326200328424

In [26]:
save_model(rdf)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20328 entries, 322528 to 427845
Data columns (total 3 columns):
title    20328 non-null object
body     20328 non-null object
label    20328 non-null int64
dtypes: int64(1), object(2)
memory usage: 635.2+ KB

In [28]:
df.sort_values(by='label', ascending=False)

,title,body,label
id,,,
252844,The top 10 immune system KILLERS of all time,\n\n\n (Natural News)\n Most health-conscious...,4
252860,The new “organic” meat: HUNTING animals sudden...,\n\n\n (Natural News)\n If you’re worried abo...,4
277708,"It’s TREASON! Pelosi, Schumer, Schiff and Warn...",\n\n\n (Natural News)\n It’s time to call for...,4
310930,VIDEO: Health Ranger demands FBI stop lying to...,\n\n\n (Natural News)\n The FBI is clearly ly...,4
309121,How this couple earns a six figure annual inco...,\n\n\n (Natural News)\n Can small-scale farmi...,4
...,...,...,...
314795,Dicamba “drift” destroying crops downwind from...,\n\n\n (Natural News)\n It’s one of the most ...,1
314781,Antibiotic drugs found to cause harmful damage...,\n\n\n (Natural News)\n A meta-analysis publi...,1
314783,Link confirmed between antidepressant use duri...,\n\n\n (Natural News)\n A recent study by res...,1
314707,CDC sounds alarm over exploding diabetes epide...,\n\n\n (Natural News)\n The figures in the la...,1
427845,Have you heard of the MIND diet? Here’s how ea...,\n\n\n (Natural News)\n One of the many natur...,1

In [29]:
xx = X_test.copy()

In [35]:
xx['label'] = y_pred
xx['label2'] = y_test

In [36]:
xx[xx.label == 4]

,content_length,number_of_words_in_title,number_of_words_in_content,title_sentiment_polarity,title_sentiment_subjectivity,content_sentiment_polarity,content_sentiment_subjectivity,label,label2
9725,10732,22,1806,0.000000,0.000000,0.355554,0.355554,4,4
4110,5821,14,993,0.000000,1.000000,0.510719,0.510719,4,3
3668,5716,25,952,0.016667,0.283333,0.388026,0.388026,4,3
11277,7901,21,1326,0.000000,0.000000,0.360838,0.360838,4,3
13484,6503,16,1109,0.250000,0.550000,0.455623,0.455623,4,3
17714,5790,25,955,0.016234,0.192208,0.413775,0.413775,4,1
149,11234,19,2033,-0.155556,0.288889,0.528220,0.528220,4,1
8211,8636,15,1494,0.000000,0.000000,0.409070,0.409070,4,2
10917,7421,19,1215,0.250000,0.333333,0.464348,0.464348,4,2
13872,4849,15,770,0.101010,0.351515,0.493905,0.493905,4,4
15309,9796,18,1636,0.050000,0.175000,0.458332,0.458332,4,1
20296,8161,16,1280,0.000000,0.000000,0.395146,0.395146,4,2
12120,3706,28,542,0.178571,0.428571,0.402043,0.402043,4,1
15588,4416,18,678,0.000000,0.000000,0.458324,0.458324,4,1
19700,8014,24,1304,-0.260000,0.820000,0.513703,0.513703,4,3
10490,10862,17,1930,0.300000,0.450000,0.485629,0.485629,4,1
1866,8096,20,1343,-0.031818,0.377273,0.466427,0.466427,4,3
3950,15335,24,2481,-0.050000,0.250000,0.386637,0.386637,4,4
13233,6665,21,1157,0.350000,0.450000,0.497906,0.497906,4,4
6267,6413,14,1049,0.250000,0.250000,0.460382,0.460382,4,3
205,33126,16,5642,-0.250000,0.328571,0.464213,0.464213,4,1
2702,95599,25,15053,0.157143,0.414286,0.444569,0.444569,4,2
8567,10017,21,1768,-0.450000,0.550000,0.380529,0.380529,4,4
10317,9838,20,1706,-0.025000,0.200000,0.396048,0.396048,4,1
16712,21383,20,3595,0.100000,0.212500,0.424248,0.424248,4,3
10416,8535,19,1403,-0.400000,0.633333,0.401455,0.401455,4,1
14897,3873,12,667,0.000000,0.000000,0.479666,0.479666,4,1
16819,8749,16,1422,-0.266667,0.233333,0.416922,0.416922,4,4
2721,8235,18,1245,0.175000,0.295000,0.407634,0.407634,4,1
13383,18519,25,3185,-0.087500,0.187500,0.452587,0.452587,4,3
14525,3847,18,688,-0.050000,0.000000,0.398430,0.398430,4,4
7139,4325,15,756,0.200000,0.300000,0.490111,0.490111,4,1
17350,8454,22,1392,-0.021212,0.251515,0.405040,0.405040,4,4
7888,8283,24,1313,0.000000,0.000000,0.431631,0.431631,4,1
8732,4500,17,767,0.016667,0.677778,0.417878,0.417878,4,1
9183,6470,15,1085,0.250000,0.750000,0.448894,0.448894,4,1
1912,10875,18,1794,0.000000,0.000000,0.463222,0.463222,4,4
12679,1341,11,212,0.000000,0.000000,0.479709,0.479709,4,1
7275,1444,14,241,0.000000,0.000000,0.359472,0.359472,4,4
9242,4289,21,704,0.000000,0.000000,0.397067,0.397067,4,2
17485,10993,14,1786,0.000000,0.100000,0.397731,0.397731,4,4
6189,7382,22,1300,-0.400000,0.900000,0.540913,0.540913,4,4

In [37]:
from common import normalize
normalize(df.iloc[13872].body)

'     (Natural News)  Young, healthy women who experience amenorrhea, ovarian failure, and infertility have likely been damaged by Merck’s HPV vaccine. A new study published in the Journal of Toxicology and Environmental Health analyzed data on pregnancy outcomes, comparing women who received an HPV vaccine with those who did not. The data analysis is titled, “A lowered probability of pregnancy in females in the USA aged 25 who received a human papillomavirus vaccine injection.” The study, uninfluenced by pharmaceutical money, analyzed data on 8 million women aged 25-29 living in the U.S. from 2007 and 2014. According to the analysis, conception rates would have fallen by 2 million if 100 percent of the females in the study would have received the HPV vaccine. The study warns that the HPV vaccine has a negative influence on fertility and more research is “warranted.” Despite mounting evidence of harm, Merck seeks to fast-track Gardasil on new age group Despite these grave concerns, the Food and Drug Administration (FDA) is currently fast tracking the process by which the Gardasil-9 is approved for use in women and men ages 27 to 45. Merck’s application for approval has been granted priority review, and is scheduled for an approval date of October 6, 2018. So, much important information about Gardasil’s risks will be suppressed as the FDA moves quickly on behalf of Merck’s business interests. When Gardasil was initially licensed, many post-marketing reports poured in, claiming that vaccine recipients endured primary ovarian failure after vaccination. The cases of Gardasil vaccine damage that have been identified and reported to the U.S. Vaccine Adverse Events Reporting System (VAERS) are in excess of 58,000. Many cases have resulted in emergency room visits, seizures, and the diagnosis of autoimmune conditions. Additionally, approximately 11,000 cases have been filed, documenting “serious” disability and sudden death. Women should no longer be subjected to Merck’s deadly experimentations. Gardasil is an experimentation because the risks are concealed and the vaccine is fast-tracked for approval. (Related: Merck accused of fast tracking Gardasil for financial gain; judge orders the drug company to prove the effectiveness of this vaccine.) One of the greatest dangers of vaccination, which is not studied by the drug companies or the FDA, are the prevalence of stealth viruses within the vaccines. While they do not impact the animal tissue in the vaccine or infect the animals used in the vaccine studies, these viruses can be dormant and revert to infectious form in humans. Watch “The criminalization of science whistleblowers: An interview with Judy Mikovitz, PhD.  Aluminum adjuvant: one of the most alarming issues of vaccine science One of the biggest problems with the Gardasil vaccine is the use of aluminum as an adjuvant. The adjuvant is used to force the immune cells to respond to the antigen in the vaccine. Without the adjuvant, the immune response to the vaccine pathogen would be weak. The problem is that the aluminum is taken up into the immune-responsive cells and is carried throughout the body. This may cause the immune system to attack itself, as the aluminum persists as a threat in the body. This metal causes problems in the brain of humans. Studies show that brain tissue from autistic children contains high amounts of aluminum. Aluminum is exponentially more dangerous through injection, than through ingestion. To suppress information on the harmful effects of vaccines, the drug companies base their vaccine safety on ingested aluminum amounts, not the impact of injected aluminum. There’s a big difference. Equally disturbing, GlaxoSmithKline and Merck spike their placebos with aluminum adjuvants to make the vaccine appear less dangerous. This shortcut helps the drug companies cut observation periods so they can conceal the risks of aluminum adjuvants in their HPV vaccines. The devastating, traumatic failures of Gardasil are being suppressed and young women are suffering at the deceptive science of these devilish institutions. Despite the growing body of evidence of harm from Gardasil, Merck is seeking fast-track approval to unleash their vaccine on another vulnerable age group of the population. The FDA, ignoring the evidence of Gardasil’s harm to women’s ovaries and fertility, cannot be trusted to evaluate the drug company’s “science.” A moratorium should be issued on all HPV vaccines until there is sufficient evidence to prove the vaccine is no longer causing ovarian failure, autoimmune conditions, infertility, seizures, and death. Read FDA.news for more headlines about the FDA’s dangerous junk science. Sources include: TandFOnline.com GreenMedInfo.com GreenMedInfo.com Vaccines.News GreenMedInfo.com HippocraticPost.com WorldMercuryProject.org Vimeo.com   '

In [38]:
df.iloc[13872].title

'New study proves the FDA is actively suppressing information about the harmful effects of Gardasil'

In [34]:
y_train

1018     1
13160    1
9873     4
2822     1
10688    3
        ..
7763     1
15377    1
17730    2
15725    2
19966    2
Name: label, Length: 15246, dtype: int64